--- 
layout: page 
title: Blog Posts 
description: Read all of my posts.
image: /assets/img/blog/blog-bg.jpg
---
<div>
    <p>Add this blog to your
        <a href="/feed.xml">RSS Reader</a>
    </p>
</div>

{% for post in paginator.posts %}
<article class="post-preview">
    <a href="{{ post.url }}" title="{{ post.title }}">
        <h2 class="post-title">{{ post.title }}</h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">{{ post.subtitle }}</h3>
        {% else %}
        <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
        {% endif %}
    </a>                
    <p class="post-meta">Posted by
        {% if post.author %}
            {{ post.author }}
        {% else %}
            {{ site.author }}
        {% endif %}
        on
        {{ post.date | date: '%B %d, %Y' }}</p>
</article>
<hr>
{% endfor %}

{% if paginator.total_pages > 1 %}

<ul class="pager">
        <li class="next">
            {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}">Older
                <span class="d-none d-md-inline"> Posts</span> &rarr;</a>
            {% endif %}
        </li>
    <li class="previous">
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}">&larr; Newer
            <span class="d-none d-md-inline"> Posts</span>
        </a>
        {% endif %}
    </li>
</ul>
</div>

{% endif %}